/* src/Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: linear-gradient(
    135deg,
    #00b894,
    #00cec9
  ); /* Mint Green Gradient */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, background-color 0.5s ease; /* Smooth transition */
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.nav-links li {
  margin: 25px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, padding-left 0.3s ease; /* Added padding transition */
}

.nav-links a:hover {
  color: #ffdd57;
  padding-left: 10px; /* Slide effect */
}

.nav-links a svg {
  margin-right: 15px;
  font-size: 22px;
}
